.sideBar{
    height: 96dvh;
    width: 20%;
    background-color: var(--color-bg-secondary);
    padding: 12px;
}

.links{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links a{
    width: 90%;
    height: 20px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    padding: 12px;
    color: var(--color-text-primary);
}

.links a:hover{
    background-color: var(--color-primary);
    border: 1px solid var(--color-text-primary);
    border-radius: 14px;
}